.carousel {
    padding-top: 1.9%;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: black;
}
table{
    background-color: rgba(172, 87, 172, 0.575);
    border-radius: 40px;
}
